@model BLL.ViewModels.StudentExamViewModel

@{
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
    int counter = 1;
    var duration = Model.Exam.Duration as System.TimeOnly?;
    var courseName = Model.Exam?.Crs.CrsName;
}



<div class="container mt-5">
    <div class="card mt-5 mb-2">
        <div class="card-header bg-info text-dark text-center">
            <h3>ITI Exam</h3>
        </div>
        <div class="card-body">
            <p class="card-text">
                <b>Exam Duration:</b> @duration.Value.ToString("H:mm") Hours
            </p>
            @*             <p class="card-text">
            <b>Course Name: @Model.</b>
            </p> *@

        </div>

        <div class="card p-5">
            <!-- Inside the form -->
            <form asp-action="SubmitExam" asp-controller="Student" method="post">
                @for (int i = 0; i < Model.Questions.Count; i++)
                {
                    <div class="card mb-4">
                        <div class="card-header bg-primary text-white">
                            Question @(counter++)
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@Model.Questions[i].QText</h5>
                            <div class="form-group">
                                @foreach (var choice in Model.Questions[i].Ches)
                                {
                                    <div class="form-check">
                                        @{
                                            var textClass = "";
                                            @if (choice.ChId == Model.QuestionsAnswers[Model.Questions[i].QId].Value)
                                            {
                                                <input type="radio" asp-for="@Model.QuestionsAnswers[Model.Questions[i].QId]" class="form-check-input" value="@choice.ChId"  checked />
                                                if (choice.ChId == Model.Questions[i].Answer)
                                                    textClass = "border border-3 border-success";
                                                else
                                                    textClass = "border border-3 border-danger";
                                            }
                                            else
                                            {
                                                <input type="radio" asp-for="@Model.QuestionsAnswers[Model.Questions[i].QId]" class="form-check-input " value="@choice.ChId"  />
                                                if (choice.ChId == Model.Questions[i].Answer)
                                                    textClass = "border border-3 border-success";
                                            }
                                            // Check if the choice ID matches the student's answer ID for the current question

                                        }
                                        <label class="form-check-label @textClass rounded">@choice.Text</label>
                                        @{
                                            textClass = "";
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                <input asp-for="ExamId" hidden />
                <input asp-for="StdId" hidden />
            </form>


        </div>
    </div>
</div>
