@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Exam

@{
    //Layout = "_StudentLayout";
    int counter = 1;
    var duration = Model.Duration as System.TimeOnly?;
    var courseName = Model.Crs.CrsName;
    List<Question> questions = Model.QIds.ToList();
}



<div class="container mt-5">
    <div class="card mt-5 mb-2">
        <div class="card-header bg-info text-dark text-center">
            <h3>ITI Exam</h3>
        </div>
        <div class="card-body">
            <p class="card-text">
                <b>Exam Duration:</b> @duration.Value.ToString("H:mm") Hours
            </p>
            @*             <p class="card-text">
            <b>Course Name: @Model.</b>
            </p> *@

        </div>

        <div class="card p-5">
            <!-- Inside the form -->
            <form asp-action="SubmitExam" asp-controller="Student" method="post">
                @for (int i = 0; i < questions.Count; i++)
                {
                    <div class="card mb-4">
                        <div class="card-header bg-primary text-white">
                            Question @(counter++)
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@questions[i].QText</h5>
                            <div class="form-group">
                                @foreach (var choice in questions[i].Ches)
                                {
                                    <div class="form-check">
                                        @{

                                            // @if (choice.ChId == Model.QuestionsAnswers[Model.Questions[i].QId].Value)
                                            // {
                                            //     <input type="radio" asp-for="@Model.QuestionsAnswers[Model.Questions[i].QId]" class="form-check-input" value="@choice.ChId" disabled checked />

                                            // }
                                            // else
                                            // {
                                            //     <input type="radio" asp-for="@Model.QuestionsAnswers[Model.Questions[i].QId]" class="form-check-input" value="@choice.ChId" disabled />
                                            // }

                                            // Check if the choice ID matches the student's answer ID for the current question

                                        }
                                        <label class="form-check-label">@choice.Text</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                
            </form>


        </div>
    </div>
</div>

